<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Rampart+One&display=swap" rel="stylesheet">
    <style>
        body{
            background: url(https://images.pexels.com/photos/5212687/pexels-photo-5212687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
            background-repeat: no-repeat;
            background-size: cover;
            /* background-position:center; */
            max-width: 1500px;
        }
        .card{
            position: relative;
            background-color: aliceblue;
            width: 55vh;
            height: 80vh;
            /* margin-left: 65%;
            margin-top:4%; */
            border-radius: 10px;
            background-color: aquamarine;
        }
        .teacher-section{
            position: relative;
            margin: 25px;
            /* margin-top: 20%; */

        }
        .student-section{
            position: relative;
            margin: 25px;
        }
        .teacher-btn{
            position: relative;
            border-radius: 5px;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            margin: auto;
            width: 200px;
            text-decoration: none;
            cursor: pointer;
            justify-content: center;
        }
        .student-btn{
            border-radius: 5px;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            width: 200px;
            display: flex;
            margin: auto;
            cursor: pointer;
            justify-content: center;
        }
        .teacher-section a{
            text-decoration: none;
        }
        .student-section a{
            text-decoration: none;
        }
        
        .card h1{
            position: relative;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding-top: 45px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div style="display: flex;  justify-content: space-evenly; margin-top: 5%;">
        <div style="margin: 5px; border-radius: 10px; position: relative; width: 60%; background: rgb(131,58,180);
background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); opacity: 0.7;">
            <div style=" text-align: center; margin: 10px; position: absolute; font-size: 50px; c  font-weight: bold;font-family: 'Lobster', cursive; width: 100%; margin-top: 10%;">
                    Where teaching and learning come together.
                    <br>
                    Classroom is your all-in-one place for teaching and learning.
            </div>
        </div>
    <div class="card" >
        <h1 >JOIN as</h1>
            <div class="teacher-section">
                <a href="/teacher/sign-up"><button class="teacher-btn">FACULTY</button></a>
            </div>
            <div class="student-section">
                <a href="/student/signup"><button class="student-btn">STUDENT</button></a>

            <h1 >Enter class</h1>
            <div class="teacher-section">
                <a href="/teacher/login"><button class="teacher-btn" >FACULTY</button></a>
            </div>
            <div class="student-section">
                <a href="/student/login"><button class="student-btn">STUDENT</button></a>
            </div>
        </div>
    </div>
    </div>
</body>
</html>