<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom App</title>

    <style>
        body{
            background: url(https://images.pexels.com/photos/5212687/pexels-photo-5212687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
            background-repeat: no-repeat;
            background-size: cover;
            /* background-position:center; */
            max-width: 1500px;
        }
        .card{
            position: relative;
            background-color: aliceblue;
            width: 55vh;
            height: 80vh;
            margin-left: 65%;
            margin-top:4%;
            border-radius: 10px;
            background-color: aquamarine;
        }
        .teacher-section{
            position: relative;
            margin: 25px;
            /* margin-top: 20%; */

        }
        .student-section{
            position: relative;
            margin: 25px;
        }
        .teacher-btn{
            position: relative;
            border-radius: 5px;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            margin: auto;
            width: 200px;
            text-decoration: none;
            cursor: pointer;
            justify-content: center;
        }
        .student-btn{
            border-radius: 5px;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            width: 200px;
            display: flex;
            margin: auto;
            cursor: pointer;
            justify-content: center;
        }
        .teacher-section a{
            text-decoration: none;
        }
        .student-section a{
            text-decoration: none;
        }
        
        .card h1{
            position: relative;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding-top: 45px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="card" >

        <h1 >JOIN as</h1>
        <div class="teacher-section">
            <a href="/teacher/sign-up"><button class="teacher-btn">FACULTY</button></a>
        </div>
        <div class="student-section">
            <a href="/student/signup"><button class="student-btn">STUDENT</button></a>

        <h1 >Enter class</h1>
        <div class="teacher-section">
            <a href="/teacher/login"><button class="teacher-btn" >FACULTY</button></a>
        </div>
        <div class="student-section">
            <a href="/student/login"><button class="student-btn">STUDENT</button></a>
    </div>
    </div>
</body>
</html>