<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen and (max-width : 1000px)" href="/css/phone.css">
    <script src="https://kit.fontawesome.com/e53f16418b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login.css">
    <title>Log In | Faculty</title>
</head>
<body style="background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);">
    <div class="container">
        <div id="form-part">
            <h1><center>Sign In</center></h1>
                <form class="form-container" action="/teacher/login" method="POST">
                    <div >
                        
                        <label style="margin-left: 10px;" for="Email">Email</label>
                        <input type="email" name="email" id="email" placeholder="iamtheboss@doodle.com"  required>
                    </div>
                    <br>
                    <div>
                        <label style="margin-left: 10px;" for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter Password"  required>
                    </div>
                    <center><button id="btn-signin">Sign in</button></center>
                </form>
                <!-- <div class="hr-or">
                    <h4>or connect with</h4>
                </div> -->
                <!-- <div class="social">
                    <li class="social_logo" id="google"><a href="/teacher/auth/google" target="_blank"><i
                        class="fab fa-google fa-2x"></i></a></li>
                </div> -->
                <h4 class="login"><center>Didn't an Account? <a href="/teacher/sign-up">Create Account</a> </center></h4>
        </div>
    </div>
</body>
</html>