<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Assignment | Student</title>
</head>

<body background="images/b1.jpeg">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" style="margin-left: 25px; font-weight: bold;">Classroom</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <a href=""><button type="button" class="btn btn-outline-info shadow-none"  style="margin: 0 20px 0 20px; color: rgb(18, 55, 221); background-color: rgb(248, 225, 14); font-weight: 700;"> Dashboard
                </button></a>
                <a  href="#"><button type="button" class="btn btn-danger shadow-none" style="margin: 0 20px 0 10px; font-weight: 700;"> Sign out
                </button> </a>
            </ul>
            
        </div>
    </nav>
    <br/>
    <!-- Assignment -->
    <div class="card-body" style="border-radius: 10px; margin: auto ; margin-top: 10px; background-color: rgb(13, 197, 243); width: 85%;">
        <h5 class="card-title" style="font-size: 24px; font-weight: bold;"><span>Assignment 1</span>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success shadow-none" data-bs-toggle="modal" data-bs-target="#exampleModal1"  style="background-color: rgb(154, 17, 233); margin-left: 10px; float: right; ">Open
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Title</h5>
                            <br/><br/>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Description <br/><br/> Graded
                            <br/><br/>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
    </div>

     <div class="card-body" style="border-radius: 10px; margin: auto ; margin-top: 20px; background-color: rgb(13, 197, 243); width: 85%;">
        <h5 class="card-title" style="font-size: 25px; font-weight: bold;"><span>Assignment 2</span>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success shadow-none" data-bs-toggle="modal" data-bs-target="#exampleModal1"  style="background-color: rgb(154, 17, 233); margin-left: 10px; float: right;">Open
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Title</h5>
                            <br/><br/>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Description <br/><br/> Graded
                            <br/><br/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
    </div>
    
   



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>

</html>