<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Classroom Create</title>
</head>
<body>
    <form class="form-horizontal" method="POST" action="/createclassroom">
        <fieldset>
        
        <!-- Form Name -->
        <legend>Create Classroom</legend>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="classroomName">Classroom Name</label>  
          <div class="col-md-4">
          <input id="textinput" name="classroomName" type="text" placeholder="placeholder" class="form-control input-md">
          <span class="help-block">help</span>  
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="subject">Subject</label>  
          <div class="col-md-4">
          <input id="textinput" name="subject" type="text" placeholder="placeholder" class="form-control input-md">
          <span class="help-block">help</span>  
          </div>
        </div>
        
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
          <div class="col-md-4">
            <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
          </div>
        </div>
        
        </fieldset>
        </form>
</body>
</html>